<% include header %>

<h2>Welcome, <%= session.user.firstName%> <%= session.user.lastName%>!</h2>

<% if((session.user.clubs_leader.length > 0) || (session.user.clubs_member.length > 0)){ %>
  <p>You are participating in the following clubs:</p>

<% include clubs/clubtable %>

<% } else { %>
  <p>You are not currently a member of any clubs! Check out all Trinity clubs <a href="/allclubs">here</a>.</p>
<% } %>

<% include footer %>