</div>
</div>
<script src="static/js/jquery-2.1.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

<input type="filepicker" data-fp-apikey="Ax5haFujiQXm6yABGRnBtz"
onchange="alert(event.fpfile.url)">
</body>
</html>