<% include ../header %>

<% if(club["links"].length > 0){ %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Student</th>
        <th>Email</th>
        <th>Form</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < club["links"].length; i++) {%>
        <tr>
            <td><%= club["links"][i]["fullname"] %></td>
            <td><%= club["links"][i]["email"] %></td>
            <td><p><a href="<%= club["links"][i]["link"] %>" target="_blank">View Upload</p></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p><%= club["clubname"] %> does not currently have any uploaded files!</p>
<% } %>

<% include ../footer %>