<% include ../header %>

<% if((session.user.clubs_leader.length > 0) || (session.user.clubs_member.length > 0)){ %>

  <p>View all available clubs <a href="/allclubs">here</a>.</p>
  <p>You are participating in the following clubs:</p>
  <% if(session.user.userType == "admin"){ %>
    <p>Click <a href="/createclub">here</a> to create a new club.</p>
  <% } %>

<% include clubtable %>

<% } else { %>
  <p>You are not currently a member of any clubs! Check out all Trinity clubs <a href="/allclubs">here</a>.</p>
<% } %>

<% include ../footer %>